{{#section 'head'}}
  <title>Disallowed Passwords</title>
  <link rel="stylesheet" href="public/css/standard.css">
  <link rel="stylesheet" href="public/css/disallowedPasswords.css">
{{/section}}
<div id="main">
  <h1>Disallowed Passwords</h1>
  <p>Certain <span style="font-style: italic;">weak</span> passwords are disallowed, because they are easily compromised:</p>
  {{> blacklist}}
  <p>Back to <a href="#" onclick="back()">Step 1: Enter username and password</a> ...</p>
</div>
{{#section 'scripts'}}
<script>
  function back() {
    window.history.back()
  }
</script>
{{/section}}
