{{#section 'head'}}
  <title>Three-Factor Authentication Demo</title>
  <link rel="stylesheet" href="public/css/standard.css">  
  <link rel="stylesheet" href="public/css/mainmenu.css">
{{/section}}
<h1>Three-Factor Authentication Demo</h1>
<ul>
    <li><a href="/unamepwd">Create user</a></li>
    <li><a href="/authunamepwd">Authenticate user</a></li>
</ul>
{{#section 'scripts'}}
{{/section}}
