{{#section 'head'}}
  <title>Password Rules</title>
  <link rel="stylesheet" href="public/css/standard.css">
  <link rel="stylesheet" href="public/css/passwordRules.css">
{{/section}}
<div id="main">
  <h1>Password Rules</h1>
  <p>The password you provide must abide by certain rules:</p>
  <ul>
    <li>It must contain at least one lowercase letter.</li>
  </ul>
  <p>Back to <a href="#" onclick="back()">Step 1: Enter username and password</a> ...</p>
</div>
{{#section 'scripts'}}
<script>
  function back() {
    window.history.back()
  }
</script>
{{/section}}
