#main {
    display: flex;
    flex-direction: column;
    color: white;
}
h1, p {
    margin: 2vh 2vw;    
}
h1 {
    font-size: 3vw;
}
p {
    font-size: 1.5vw;
}
ul {
    margin-left: 3vw;
}
li {
    font-size: 1.4vw;
}